<footer class="custom-footer">
    <div class="footer-left">
        <a href="/" class="logo-link">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="footer-text">© 2024 Luminos Inc.</span>
    </div>

    <ul class="social-links">
        <li><a class="social-icon" href="#">
            <img class="bi" width="24" height="24" fill="rgb(153, 195, 255)" src="media/twitter.svg" alt="Twitter">
        </a></li>
        <li><a class="social-icon" href="#">
            <img class="bi" width="24" height="24" src="media/instagram.svg" alt="Instagram">
        </a></li>
        <li><a class="social-icon" href="#">
            <img class="bi" width="24" height="24" src="media/facebook.svg" alt="Facebook">
        </a></li>
    </ul>
</footer>